<h1 mat-dialog-title>Edificio</h1>
<div mat-dialog-content>
  <form #formularioEditar="ngForm">
    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre" id="nombreId" type="text" name="nombre" [(ngModel)]="nombre"
             required minlength="3" maxlength="30">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Ubicación</mat-label>
      <input matInput placeholder="ubicacion" id="ubicacionId" type="text" name="ubicacion" [(ngModel)]="ubicacion"
             required minlength="3" maxlength="30">
    </mat-form-field>
      <mat-checkbox id="estadoId" name="estado" [(ngModel)]="estado">Estado</mat-checkbox>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button label="Cancelar" styleClass="ui-button-secondary" (click)="cancelar()">Cancelar</button>
  <button mat-button label="Aceptar" [disabled]="formularioEditar.invalid" styleClass="ui-button-success" (click)="aceptar()">Aceptar</button>
</div>

