
<form class="example-form">
  <h1 mat-dialog-title>Iniciar Sesión</h1>
  <mat-form-field class="example-full-width">
    <mat-label>Correo</mat-label>
    <input matInput placeholder="Correo"
           id="correoId"
           type="text"
           name="correo"
           [(ngModel)]="correo"
           required
           email="true">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Contraseña</mat-label>
    <input matInput placeholder="Contraseña"
           id="passwordId"
           type="password"
           name="password"
           [(ngModel)]="password"
           required minlength="3" maxlength="30">
  </mat-form-field>

  <span style="color: #ed1b24">{{mensajeError}}</span>
  <br>
  <br>
  <button  mat-raised-button color="primary" class="inciar" (click)="login()">Iniciar
  </button>

</form>



