<h2>Gestión de Areas</h2>
<span class="ui-float-label">
  <input id="float-input"
         type="text"
         size="30"
         [(ngModel)]="busquedaArea"
         pInputText>
  <label for="float-input">
    Buscar por nombre
  </label>
</span>
<br>
<p-button label="Buscar" (click)="buscarAreaPorNombre()">
</p-button>
<p-button label="Nuevo" (click)="guardar()" >
</p-button>
<br>
<br>
<p-table [value]="areasFiltrados()"
         [paginator]="true"
         [rows]="FILAS">
  <ng-template pTemplate="caption">
    Lista de Profesores
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Departamento</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
    <tr>
      <th></th>
      <th>
        <input type="text"
               pInputText
               name="nombre"
               [(ngModel)]="nombreFiltrado"
        />
      </th>
      <th>
        <input type="text"
               pInputText
               name="descripcion"
               [(ngModel)]="descripcionFiltrado"/>
      </th>
      <th>
      </th>
      <th>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-area>
    <tr>
      <td>{{area.idDepartamento.descripcion}}</td>
      <td>{{area.nombre}}</td>
      <td>{{area.descripcion}}</td>
      <td> <mat-checkbox  checked="{{area.estado}}" Disabled></mat-checkbox></td>
      <td>
        <p-button label="EDITAR" (click)="editar(area)">
        </p-button>
        <p-button label="ELIMINAR" (click)="eliminar(area)">
        </p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

