<h2>Gestión de Departamento</h2>
<span class="ui-float-label">
  <input id="float-input"
         type="text"
         size="30"
         [(ngModel)]="busquedaEntidad"
         pInputText>
  <label for="float-input">
    Buscar por nombre
  </label>
</span>
<br>
<p-button label="Buscar" (click)="buscarEdificioPorNombre()">
</p-button>
<p-button label="Nuevo" (click)="guardar()" >
</p-button>
<br>
<br>
<p-table [value]="edificiosFiltrados()"
         [paginator]="true"
         [rows]="FILAS">
  <ng-template pTemplate="caption">
    Lista de Departamentos
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Numero de departamento</th>
      <th>Descripcion</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
    <tr>
      <th></th>
      <th>
        <input type="text"
               pInputText
               name="ubicacion"
               [(ngModel)]="descripcionFiltrado"/>
      </th>
      <th>
      </th>
      <th>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-entidad>
    <tr>
      <td>{{entidad.numeroDeDepartamento}}</td>
      <td>{{entidad.descripcion}}</td>
      <td> <mat-checkbox  checked="{{entidad.estado}}" Disabled></mat-checkbox></td>
      <td>
        <p-button label="EDITAR" (click)="editar(entidad)">
        </p-button>
        <p-button label="ELIMINAR" (click)="eliminar(entidad)">
        </p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

