.example-form {
  position: absolute;
  top:50%;
  left:50%;
  width: 400px;
  margin-left:-200px;
  height:300px;
  margin-top:-150px;
  border:1px solid #3171e0;
  padding:5px;
}

.example-full-width {
  width: 100%;
}

.inicar{
  border: 1px solid #6c757d;
}

