<h1 mat-dialog-title>Area</h1>
<div mat-dialog-content>
  <form #formularioEditar="ngForm" style="height: 300px;">
    <mat-form-field class="example-full-width" >
      <mat-label>Edificio</mat-label>
      <mat-select id="edificioId" name="idEdificio" [(ngModel)]="idEdificio" required (selectionChange)="consultarDepartamentosDelEdificio($event.value)">
        <mat-option [value]="edf.id" *ngFor="let edf of edificios" >
          {{edf.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
      <mat-form-field class="example-full-width" >
        <mat-label>Departamento</mat-label>
        <mat-select id="departamentoId" name="idDepartamento" [(ngModel)]="idDepartamento" required>
          <mat-option [value]="dep.id" *ngFor="let dep of departamentos" >
            {{dep.descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre" id="nombreId" type="text" name="nombre" [(ngModel)]="nombre"
             required minlength="3" maxlength="30">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Descripción</mat-label>
      <input matInput placeholder="Descripción" id="descripcionId" type="text" name="descripcion" [(ngModel)]="descripcion"
             required minlength="3" maxlength="50">
    </mat-form-field>

    <mat-checkbox id="estadoId" name="estado" [(ngModel)]="estado">Estado</mat-checkbox>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button label="Cancelar" styleClass="ui-button-secondary" (click)="cancelar()">Cancelar</button>
  <button mat-button label="Aceptar" [disabled]="formularioEditar.invalid" styleClass="ui-button-success" (click)="aceptar()">Aceptar</button>
</div>

